<div class="uk-card uk-card-default uk-card-body uk-padding-small">
    <div class="uk-heading-divider side-card-hero-bg uk-background-cover uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(assets/bg/v1_bg.jpg);">
        <h6 class=" side-card-title" style="font-weight: 500;color:white;">Create your Post / Community</h6>
    </div>
    
    <div class="uk-grid uk-margin-small">
        <div class="uk-width-1-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        
        <div class="uk-width-1-2">
            <button class="uk-button uk-button-primary">Create Community</button>
        </div>
    </div>

    <div class="uk-grid uk-margin-small">
        <div class="uk-width-1-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        
        <div class="uk-width-1-2">
            <button class="uk-button uk-button-secondary">Create Community</button>
        </div>
    </div>
</div>