<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="#">Pinoy Overflow</a>

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li>
                <a href="#">Parent</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Item</a></li>
        </ul>
    </div>
    

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Login</a></li>
            <li class="uk-active"><a href="#">Signup</a></li>
        </ul>
    </div>
</nav>

<div class="uk-container uk-container-xlarge">
    <h4 class="uk-heading-divider">Trending Today</h4>
    <div class="uk-grid">
        <div class="uk-width-1-4">
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <h3 class="comm_post_header">ph/community_name <span>Posted by u/username 3hrs ago</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="uk-width-1-4">
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <h3 class="comm_post_header">ph/community_name <span>Posted by u/username 3hrs ago</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="uk-width-1-4">
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <h3 class="comm_post_header">ph/community_name <span>Posted by u/username 3hrs ago</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="uk-width-1-4">
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <h3 class="comm_post_header">ph/community_name <span>Posted by u/username 3hrs ago</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

    <h4 class="uk-heading-divider">Popular Posts</h4>
    <div class="uk-grid">
        <div class="uk-width-2-3">
            <!-- <div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
                <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
                <h1 class="comm_post_title">Community Test Post - Image</h1>
                <img class="home-post-preview uk-align-center" data-src="https://i.redd.it/2p85vv5zfju61.jpg" width="300" height="300" alt="" uk-img>
                <div class="uk-card-footer">
                    <div class="uk-float-left">
                        <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                        <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                        <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                    </div>
                    <div class="uk-float-right">
                        <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                        <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                        <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                    </div>
                </div>
            </div> --> <!-- end card -->

            <!-- <div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
                <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
                <h1 class="comm_post_title">Community Test Post - Video</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="uk-card-footer">
                    <div class="uk-float-left">
                        <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                        <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                        <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                    </div>
                    <div class="uk-float-right">
                        <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                        <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                        <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                    </div>
                </div>
            </div> --> <!-- end card -->

            <div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
                 <div class="uk-grid">
                    <div class="uk-width-1-6">
                        <img class="home-post-preview uk-thumbnail" src="assets/icons/disscussion.png">
                    </div>
                    <div class="uk-width-5-6">
                        <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
                        <h1 class="comm_post_title">Community Test Post- Normal</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="uk-card-footer">
                            <div class="uk-float-left">
                                <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                            </div>
                            <div class="uk-float-right">
                                <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div> <!-- end card -->

            <div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
                <div class="uk-grid">
                    <div class="uk-width-1-6">
                        <img class="home-post-preview uk-thumbnail" src="https://i.redd.it/pz0wa84711x61.jpg">
                    </div>
                    <div class="uk-width-5-6">
                        <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
                        <h1 class="comm_post_title">Community Test Post- Image</h1>
                        <p>&nbsp;</p>
                        <div class="uk-card-footer">
                            <div class="uk-float-left">
                                <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                            </div>
                            <div class="uk-float-right">
                                <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end card -->
            
            <div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
                 <div class="uk-grid">
                    <div class="uk-width-1-6">
                        <img class="home-post-preview uk-thumbnail" src="assets/samples/samples_gif.gif">
                    </div>
                    <div class="uk-width-5-6">
                        <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
                        <h1 class="comm_post_title">Community Test Post- GIF</h1>
                        <p>&nbsp;</p>
                        <div class="uk-card-footer">
                            <div class="uk-float-left">
                                <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                            </div>
                            <div class="uk-float-right">
                                <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div> <!-- end card -->

            <div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
                 <div class="uk-grid">
                    <div class="uk-width-1-6">
                        <img class="home-post-preview uk-thumbnail" src="assets/icons/videoplay.png">
                    </div>
                    <div class="uk-width-5-6">
                        <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
                        <h1 class="comm_post_title">Community Test Post- Video</h1>
                        <p>&nbsp;</p>
                        <div class="uk-card-footer">
                            <div class="uk-float-left">
                                <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                            </div>
                            <div class="uk-float-right">
                                <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                                <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div> <!-- end card -->
        </div>

        <div class="uk-width-1-3">
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <div class="uk-grid uk-margin-small">
                    <div class="uk-width-1-6">
                        <img class="home-community-logo" src="assets/samples/kobayashi.png">
                    </div>

                    <div class="uk-width-expand">
                        <div class="uk-float-left">
                            <span style="font-size: 13px;font-weight: 500;">ph/RandomActsOfGaming</span><br>
                            <span style="font-size: 12px;font-style: italic;"><span style="font-weight: bold;">94,576</span> member/s</span>
                        </div>
                        <div class="uk-float-right">
                            <button style="margin-top: 10px;" class="uk-button uk-button-primary uk-button-small">Join</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <ul uk-accordion="multiple: true">
                    <li class="uk-open">
                        <a class="uk-accordion-title" href="#">Popular Communities</a>
                        <div class="uk-accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Gaming</a>
                        <div class="uk-accordion-content">
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Sports</a>
                        <div class="uk-accordion-content">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Fitness</a>
                        <div class="uk-accordion-content">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Memes</a>
                        <div class="uk-accordion-content">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Technology</a>
                        <div class="uk-accordion-content">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">NSFW</a>
                        <div class="uk-accordion-content">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>