<h5 class="uk-heading-divider" style="font-weight: 500;">Popular Posts</h5>
<!-- <div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
    <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
    <h1 class="comm_post_title">Community Test Post - Image</h1>
    <img class="home-post-preview uk-align-center" data-src="https://i.redd.it/2p85vv5zfju61.jpg" width="300" height="300" alt="" uk-img>
    <div class="uk-card-footer">
        <div class="uk-float-left">
            <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
            <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
            <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
        </div>
        <div class="uk-float-right">
            <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
            <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
            <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
        </div>
    </div>
</div> --> <!-- end card -->

<!-- <div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
    <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
    <h1 class="comm_post_title">Community Test Post - Video</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="uk-card-footer">
        <div class="uk-float-left">
            <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
            <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
            <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
        </div>
        <div class="uk-float-right">
            <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
            <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
            <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
        </div>
    </div>
</div> --> <!-- end card -->

<div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
        <div class="uk-grid">
        <div class="uk-width-1-6">
            <img class="home-post-preview uk-thumbnail" src="assets/icons/disscussion.png">
        </div>
        <div class="uk-width-5-6">
            <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
            <h1 class="comm_post_title">Community Test Post- Normal</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="uk-card-footer">
                <div class="uk-float-left">
                    <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                </div>
                <div class="uk-float-right">
                    <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                </div>
            </div>
        </div>
        </div>
</div> <!-- end card -->

<div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
    <div class="uk-grid">
        <div class="uk-width-1-6">
            <img class="home-post-preview uk-thumbnail" src="https://i.redd.it/pz0wa84711x61.jpg">
        </div>
        <div class="uk-width-5-6">
            <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
            <h1 class="comm_post_title">Community Test Post- Image</h1>
            <p>&nbsp;</p>
            <div class="uk-card-footer">
                <div class="uk-float-left">
                    <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                </div>
                <div class="uk-float-right">
                    <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end card -->

<div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
        <div class="uk-grid">
        <div class="uk-width-1-6">
            <img class="home-post-preview uk-thumbnail" src="assets/samples/samples_gif.gif">
        </div>
        <div class="uk-width-5-6">
            <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
            <h1 class="comm_post_title">Community Test Post- GIF</h1>
            <p>&nbsp;</p>
            <div class="uk-card-footer">
                <div class="uk-float-left">
                    <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                </div>
                <div class="uk-float-right">
                    <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                </div>
            </div>
        </div>
        </div>
</div> <!-- end card -->

<div class="home-popular-posts uk-card uk-card-default uk-card-body uk-padding-small">
        <div class="uk-grid">
        <div class="uk-width-1-6">
            <img class="home-post-preview uk-thumbnail" src="assets/icons/videoplay.png">
        </div>
        <div class="uk-width-5-6">
            <h3 class="comm_post_header">ph/community_name <span class="home-join-btn">&nbsp;&nbsp;&nbsp;&nbsp;Join</span><span class="uk-align-right posted_by">Posted by u/username <span class="time_posted"> - 3 hours ago</span></span></h3>
            <h1 class="comm_post_title">Community Test Post- Video</h1>
            <p>&nbsp;</p>
            <div class="uk-card-footer">
                <div class="uk-float-left">
                    <a href="#" class="uk-button uk-button-text home-post-btn">999 Comments</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Share</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Save</a>
                </div>
                <div class="uk-float-right">
                    <a href="#" class="uk-button uk-button-text home-post-btn">666</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Upvote</a>
                    <a href="#" class="uk-button uk-button-text home-post-btn">Downvote</a>
                </div>
            </div>
        </div>
        </div>
</div> <!-- end card -->