<h4 class="uk-heading-divider">Trending Today</h4>
<div class="uk-grid">
    <div class="uk-width-1-4">
        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
            <h3 class="comm_post_header">ph/community_name <span class="uk-float-right">Posted by u/username 3hrs ago</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="uk-width-1-4">
        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
            <h3 class="comm_post_header">ph/community_name <span class="uk-float-right">Posted by u/username 3hrs ago</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="uk-width-1-4">
        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
            <h3 class="comm_post_header">ph/community_name <span class="uk-float-right">Posted by u/username 3hrs ago</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="uk-width-1-4">
        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
            <h3 class="comm_post_header">ph/community_name <span class="uk-float-right">Posted by u/username 3hrs ago</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>