<div class="uk-card uk-card-default uk-card-body uk-padding-small" uk-sticky>
    <div class="uk-grid uk-margin-small">
        <div class="uk-width-1-2">
            <ul class="uk-list">
                <li>FAQ's</li>
                <li>Content Policy</li>
                <li>Privacy Policy</li>
                <li>Terms and Conditions</li>
            </ul>
        </div>
        
        <div class="uk-width-1-2">
            <ul class="uk-list">
                <li>About</li>
                <li>Communities</li>
                <li>Helpdesk</li>
            </ul>
        </div>
    </div>
</div>