<!-- RECENT POST (HISTORY ACCESSED) -->
<div class="uk-card uk-card-default uk-card-body uk-padding-small">
    <h6 class="uk-heading-divider side-card-title" style="font-weight: 500;">Recently Visited Posts</h6>
    
    <div class="uk-grid uk-margin-small">
        <div class="uk-width-1-6">
            <img class="uk-thumbnail" src="assets/samples/samples_gif.gif">
        </div>
        
        <div class="uk-width-expand">
            <div class="uk-float-left">
                <span style="font-size: 13px;font-weight: 500;">ph/RandomActsOfGaming</span><br>
                <span style="font-size: 12px;font-style: italic;"><span style="font-weight: bold;">94,576</span> member/s</span>
            </div>
            <div class="uk-float-right">
                <button style="margin-top: 10px;" class="uk-button uk-button-primary uk-button-small">Join</button>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-margin-small">
        <div class="uk-width-1-6">
            <img class="uk-thumbnail" src="https://i.redd.it/pz0wa84711x61.jpg">
        </div>
        
        <div class="uk-width-expand">
            <div class="uk-float-left">
                <span style="font-size: 13px;font-weight: 500;">ph/RandomActsOfGaming</span><br>
                <span style="font-size: 12px;font-style: italic;"><span style="font-weight: bold;">94,576</span> member/s</span>
            </div>
            <div class="uk-float-right">
                <button style="margin-top: 10px;" class="uk-button uk-button-primary uk-button-small">Join</button>
            </div>
        </div>
    </div>
    
</div>